@import "tailwindcss";

* {
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-color: #FFF6EB;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.3s ease-out forwards;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
}

.group-hover\:paused-on-hover:hover {
  animation-play-state: paused;
}